.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #adaaff;
  color: white;
  font-family: 'Inter' , sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #27457b;
  width: 100%;
  color: white;
  line-height: 43px;
}

.header h1 {
  margin: 0;
  font-size: 24pt;
}

.cardsContainer {
  padding-top: 40px;

  justify-content: space-around;
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}

.cardText1 {
  font-weight: bold;
  font-size: 10pt;
  color: black;
}

.cardText2 {
  font-weight: bold;
  font-size: 10pt;
  color: black;
}

.cardText3 {
  font-weight: bold;
  font-size: 10pt;
  color: black;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
}

.imagemBaixa {
  max-width: 40px;
}

.textoDireitaImagem {
  font-family: 'Inter' , sans-serif;
  font-size: 12px;
  color: white;
  font-weight: bold;
}
