.main {
  background-color: #adaaff;
  height: 100%;
}

.header {
  background-color: #27457b;
  width: 100%;
}

.header h1 {
  color: white;
  font-family: 'Inter black' , sans-serif;
  font-size: 24pt;
  text-align: center;
}

.buttonContainer1, .buttonContainer2 {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
