.main {
  background-color: #adaaff;
  color: white;
  font-family: 'Inter' , sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #27457b;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  margin: 0;
  font-size: 24pt;
}

.inputContainer input[type="text"] {
  width: 400px;
  height: 50px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 0;
  font-family: 'Inter' , sans-serif;
  font-size: 14pt;
  margin-top: 20px;
  color: black;
  text-align: left;
  box-sizing: border-box;
}

.inputContainer input[type="text"]::placeholder {
  color: #808080;
  font-family: 'Inter Black', sans-serif;
  font-size: 10pt;
  text-align: left;
  font-weight: bold;
  padding-top: 5px;
  vertical-align: top;
  transform: translateY(-10px);
}

.inputContainer input[type="email"] {
  width: 400px;
  height: 50px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14pt;
  margin-top: 20px;
  color: black;
  text-align: left;
  box-sizing: border-box;
}

.inputContainer input[type="email"]::placeholder {
  color: #808080;
  font-family: 'Inter Black', sans-serif;
  font-size: 10pt;
  text-align: left;
  font-weight: bold;
  padding-top: 5px;
  vertical-align: top;
  transform: translateY(-10px);
}

.inputContainer input[type="tel"] {
  width: 400px;
  height: 50px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14pt;
  margin-top: 20px;
  color: black;
  text-align: left;
  box-sizing: border-box;
}

.inputContainer input[type="tel"]::placeholder {
  color: #808080;
  font-family: 'Inter Black' , sans-serif;
  font-size: 10pt;
  text-align: left;
  font-weight: bold;
  padding-top: 5px;
  vertical-align: top;
  transform: translateY(-10px);
}

.inputContainer input {
  width: 219px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 291px;
  flex: 1;
}

.inputContainer input {
  width: 400px;
  height: 50px;
  padding: 8px;
  border: none;
  border-radius: 0;
}

.inputContainer button {
  width: 200px;
  height: 50px;
  background-color: #27457b;
  color: white;
  border: none;
  border-radius: 0;
  font-family: 'Inter' , sans-serif;
  font-size: 14pt;
  margin-top: 20px;
  cursor: pointer;
}
